@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Chao mung den voi bai thuc hanh</h1>
    <div class="col-xs-12">
        <div class="alert alert-block alert-success">
            Nguyen Doan Thanh Chuong <br>
            Tran Trung Hau <br>
            Cao Nguyen Minh Khoi <br>
            Truong Van Dung <br>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="div_left">

                    <img width="350" height="350" alt="150x150" src="~/images/Pizzas/iot.jpg" />
                    <p style="font-size:large">Status:</p>
                    <p style="font-size:large">Day: @DateTime.Now</p>

                </div>
                <div class="div_right">

                    <img width="350" height="350" alt="150x150" src="~/images/Pizzas/iot1.jpg" />
                    <p style="font-size:large">Status:</p>
                    <p style="font-size:large">Day: @DateTime.Now</p>

                </div>
            </div>
        </div>
    </div>
</div>
